@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
html {
    scroll-snap-type: y proximity;
}

.bg {
    width: 100%;
    min-height: 430dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./img/WMLBG.png); */
    box-shadow: 0 0 15px black inset;
    background-repeat: repeat;
    background-size: 100% 60%;
}

.bgblur {
    width: 100%;
    min-height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    backdrop-filter: blur(5px);
    background-color: aliceblue;
    overflow: hidden;
    flex-direction: column;
}

.WMLMain {
    width: 80%;
    /* min-height: 450dvh; */
    font-family: "Schibsted Grotesk", sans-serif;
    color: #222;
    border-radius: 30px;
    border: 1px solid #222;
    background-color: #EEE;
    box-shadow: 0 0 5px #222 inset;
    margin: 2% auto;
}


.paragraphContainer {
    scroll-snap-align: start;
}

.WMLMain h1 {
    text-align: center;
    margin: 30px;
    scroll-snap-align: start;
}

.appeartxt {
    font-size: 110%;
    text-align: center;
    line-height: 130%;
    margin: 20px;
}

.underline {
    text-decoration: underline;
}

article {
    scroll-snap-align: start;
    margin: 10px;
}


.sndArticle {
    min-height: 60dvh;
    box-sizing: border-box;
    padding: 10px;
}


article h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.slide {
    opacity: 0;
}

.slided {
    animation: slide 2s;
    opacity: 1;
}

@keyframes slide {
    0% { 
        opacity: 0; 
        margin-left: -100dvh;
    }
    100% { 
        opacity: 1; 
        margin-left: 0;
    }
}

a {
    text-shadow: none;
    color: blue;
}

a:visited {
    color: blue;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container h1 {
    text-shadow: none;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 87vh);
	gap: 4vw;
	padding-bottom: calc(3 * 1.5em);
	margin-bottom: 4vw;
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * 1.5em);
}


.card-body {
	box-sizing: border-box;
	padding: 30px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    border-radius: 15px;
    min-height: 87vh;
	transition: all 0.5s;
    color: #000;
    text-shadow: none;
    padding: 30px;
    background-color: aliceblue;
}

h2 {
	font-size: 4em;
    margin-top: 25dvh;
    margin-bottom: 15px;
}

.wrapper img {
    float: left;
    border-radius: 30px 30px 0 30px;
    margin-top: -25dvh;
    padding: 20px;
    max-height: 30vh;
    max-width: 100vw;
}

.personDesc {
    font-size: 1.5em;
    text-align: justify; 
}

.Introducion {
    font-size: 250%;
}

.headerTxt {
    position: fixed;
    z-index: 99;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    font-family: "Rubik Mono One", monospace;
    background-color: var(--darkRed);
    color: aliceblue;
}

.headerTxt h1 {
    text-align: center;
}

.restofbg {
    position: absolute;
    top: 100dvh;
    height: 100%;
    width: 99dvw;
    background-color: var(--darkRed);
    z-index: 99;
}

.gallery {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ytvideo {
    width: 64dvw;
    height: 36dvw;
    border-radius: 20px;
}

.carousel {
    margin-top: 30px;
}

.gallery {
    min-height: 120dvh;
    font-size: 120%;
}

.carousel-photo {
    width: 50dvw;
    height: 30dvw;
    border-radius: 15px;
}

.openRegulamin {
    text-align: center;
    display: inline-block;
    width: 100% !important;
}


footer {
    min-height: 200px;
    width: 100%;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Schibsted Grotesk", sans-serif;
}

footer * {
    font-size: 160%;
    margin: 0;
}

footer #patroni{
    max-height: 300px;
    max-width:100%;
}

.noscroll {
    position: fixed; 
    top: var(--st, 0);
    inline-size: 100%;
    overflow-y:scroll; 
}

.text-max{
    font-size: min(max(16px, 4vw), 40px);
}

@media screen and (max-width: 900px) {
    .headerTxt {
        font-size: 50%;
    }

    .WMLMain {
        width: 100%;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
    }

    .WMLMain h1{
        margin: 0;
        padding: 10px;
    }


    #cards {
        list-style: none;
        padding-left: 0;
        display: flex !important;
        flex-direction: column;
        gap: 4vw;
        margin-bottom: 4vw;
    }
    
    .card {
        position: relative;
        padding-top: 30px !important;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper img{
        margin: 0px 20px;
    }

    .card-body {
        box-sizing: border-box;
        padding: 30px 3px;
        box-shadow: none;
        border-radius: 0;
        color: #000;
        text-shadow: none;
    }

    h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center !important;
    }

    .personDesc{
        font-size: 1em;
    }

    article{
        margin: 0;
    }

    .container{
        margin: 0;
        width: 100%;
    }
}